@charset "utf-8";
/*html에서 클래스명 붙여주면 애니메이션 효과 사용 가능*/
/*파일하나에 모아두는 것이 편함*/
.animated {animation-duration: 1s;}

.fadeInLeft {animation-name: fadeInLeft;}
@keyframes fadeInLeft {
       0% {opacity: 0;transform: translateX(-20px);}
       100% {opacity: 1; transform: translateX(0);}
}

.fadeInRight {animation-name: fadeInRight;}
@keyframes fadeInRight {
       0% {opacity: 0;transform: translateX(20px);}
       100% {opacity: 1; transform: translateX(0);}
}


.fadeInUp {animation-name: fadeInUp;}
@keyframes fadeInUp {
       0%{opacity: 0; transform: translateY(20px);}
       100% {opacity: 1; transform: translateY(0);}
}

.fadeInOut {animation-name: fadeInOut;}
@keyframes fadeInOut {
       0% {opacity: 0;transform: translateY(0);}
       100% {opacity: 1; transform: translateY(20px);}
}

.flash {animation-name: flash;}
@keyframes flash{
       0% {opacity: 0.4;}
       100% {opacity: 1;}
}


.delay-03s {animation-delay: 0.3s;}
.delay-05s {animation-delay: 0.5s;}
.delay-07s {animation-delay: 0.7s;}
.delay-1s {animation-delay: 1s;}
.delay-12s {animation-delay: 1.2s;}
.delay-15s {animation-delay: 1.5s;}
.delay-17s {animation-delay: 1.7s;}
.delay-2s {animation-delay: 2s;}
.delay-22s {animation-delay: 2.2s;}
.delay-25s {animation-delay: 2.5s;}





